*__pycache__/
*.pyc
**/.ipynb_checkpoints

# P1 ignore
*/challenge.mp4
*/laneLines_thirdPass.jpg
*/line-segments-example.jpg
*/P1_example.mp4
*/raw-lines-example.mp4
*/solidWhiteRight.mp4
*/solidYellowLeft.mp4

# P2 ignore
*/data/test.p
*/data/train.p
intro-tensorflow.ipynb
